$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 42px;
$xl: 64;

$primary: #023047;
$secondary: #FB8500;
$tertiary: #FFB703;
$blue-ocean: #219EBC;
$blue-sky: #8ECAE6;

header {
  background-color: #023047;
}

.header-main {
  display: flex;
  justify-content: space-between;
  padding: $sm;
  color: white;
}

.header-brand {
 display: flex;
 align-items: center;
 gap: $sm;
}

.header-links {
  display: flex;
  align-items: center;
  gap: $sm;
}

.header-search {
  display: flex;
  padding-left: $sm;
  padding-right: $sm;
  padding-bottom: $xs;
}

.button {
  height: $lg;
}

.search-section {
  display: flex;
  flex-grow: 9;
  border-style: solid;
  border-radius: $xs;
  border-width: 1px;
}

.search-input {
  flex-grow: 7;
  border-style: hidden;
}

.search-loop-button {
  background-color: #FB8500;
  border-style: none;
  border-radius: $xs;
}

