$sm: 8px;

.header-main {
  display: flex;
  justify-content: space-between;
  padding: $sm;
}

.header-brand {
 display: flex;
 gap: $sm;
}

.header-links {
  display: flex;
  gap: $sm;
}

.header-search {
  display: flex;
  padding-left: $sm;
  padding-right: $sm;
}

.search-section {
  display: flex;
  flex-grow: 9;
}

.search-input {
  flex-grow: 7;
}

