.header-main {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.header-brand {
 display: flex;
 gap: 8px;
}

.header-links {
  display: flex;
  gap: 8px;
}

.header-search {
  display: flex;
  padding-left: 8px;
  padding-right: 8px;
}

.search-section {
  display: flex;
  flex-grow: 9;
}

.search-input {
  flex-grow: 7;
}

